hh:mm:s<template>
  <b-container fluid>
    <b-row>
      <b-col v-for="account in accounts" :key="account.id" sm="6">
        <b-alert variant="warning"
                 :show="fetchError">
          Something went wrong, {{ errorMessage }}. You're looking at sample transactions.
        </b-alert>
        <b-card v-bind:key="account.id"
                :title="account.balance"
                :header="account.name"
                :footer="account.type"
                class="sm-2">
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Accounts',
  data() {
    return {
      fetchError: false,
      errorMessage: '',
      accounts: [],
    };
  },

  created() {
    axios.get('http://localhost:8080/api/accounts')
      .then((response) => {
        this.accounts = response.data;
      })
      .catch((error) => {
        this.fetchError = true;
        this.errorMessage = error.message;
      });
  },
};
</script>

<style scoped>

</style>
