<template>
  <b-container fluid>
    <b-card title="Welcome to Spencer">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in tempor quam.
      </p>
    </b-card>
  </b-container>
</template>

<script>
export default {
  name: 'Home',
};
</script>

<style scoped>

</style>
