<template>
  <b-container fluid id="navigation">
    <b-navbar toggleable type="light" variant="light" sticky>
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/">Spencer</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/transactions">Transactions</b-nav-item>
          <b-nav-item to="/accounts">Accounts</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </b-container>
</template>

<script>
export default {
  name: 'Navigation',
};
</script>

<style scoped>

</style>
