<template>
  <b-container fluid>
    <b-alert variant="warning"
             :show="fetchError">
      Something went wrong, {{ errorMessage }}. You're looking at sample transactions.
    </b-alert>

    <b-table striped hover
             :items="transactions"
             :fields="fields">
    </b-table>
  </b-container>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Transactions',
  data() {
    return {
      fetchError: false,
      errorMessage: '',
      transactions: [],
      fields: {
        transactionId: 'Id',
        transactionDate: 'Transaction Date',
        reportedAmount: 'Amount',
        'account.name': 'Account',
        budget: 'Budget',
      },
    };
  },

  created() {
    Promise.all([
      axios.get('http://localhost:8080/api/expenses'),
      axios.get('http://localhost:8080/api/incomes'),
    ])
      .then(([expensesResponse, incomesResponse]) => {
        this.transactions = [...expensesResponse.data, ...incomesResponse.data];
      })
      .catch((error) => {
        this.fetchError = true;
        this.errorMessage = error.message;
      });
  },
};
</script>

<style scoped>

</style>
